body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

h2, h5 {
  font-weight: 600;
}

.table {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.table th {
  background-color: #198754;
  color: white;
}
